input, textarea {
    -webkit-user-select: text !important;
    user-select: text !important;
    -webkit-touch-callout: default !important;
    
    /* Убиваем синюю рамку при выделении */
    outline: none !important;
    box-shadow: none !important;
    
    /* Жестко ставим 16px, чтобы iOS Safari не зумил экран при вводе */
    font-size: 16px !important; 
  }
  
  [dir="auto"] {
    touch-action: manipulation !important;
  }