/* Принудительно разрешаем выделение текста и фокус для iOS Safari */
input, textarea {
    -webkit-user-select: text !important;
    user-select: text !important;
    -webkit-touch-callout: default !important;
  }
  
  /* Фикс для движка React Native Web */
  [dir="auto"] {
    touch-action: manipulation !important;
  }
  /* Жестко качаем шрифты иконок с серверов, минуя баги сборщика Cloudflare */
@font-face {
    font-family: 'Ionicons';
    src: url('https://unpkg.com/@expo/vector-icons@14.0.2/build/vendor/react-native-vector-icons/Fonts/Ionicons.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Feather';
    src: url('https://unpkg.com/@expo/vector-icons@14.0.2/build/vendor/react-native-vector-icons/Fonts/Feather.ttf') format('truetype');
  }
  @font-face {
    font-family: 'FontAwesome';
    src: url('https://unpkg.com/@expo/vector-icons@14.0.2/build/vendor/react-native-vector-icons/Fonts/FontAwesome.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Material Icons';
    src: url('https://unpkg.com/@expo/vector-icons@14.0.2/build/vendor/react-native-vector-icons/Fonts/MaterialIcons.ttf') format('truetype');
  }